@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

/* comment this later */
.site-header {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
}
.page-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 3.8rem;
  text-transform: capitalize;
  text-align: center;
}

.contact-page {
  width: 65%;
  display: flex;
  margin: 0 auto;
  padding-top: 5.6rem;
  padding-bottom: 10rem;
}
.contact-us-form {
  width: calc(50% - 4rem);
  margin-right: 4rem;
}
.contact-us-information {
  width: calc(50% - 4rem);
  margin-left: 4rem;
}
.contact-us-nameandemail {
  width: 100%;
  display: flex;
  margin-bottom: 2.4rem;
}
.contact-us-nameandemail input {
  width: calc(50% - 1.4rem);
}

.contact-us-nameandemail .name {
  margin-right: 2.8rem;
}

.contact-us-form .contact-us-subject input {
  width: 100%;
  margin-bottom: 2.4rem;
}
.contact-us-form .contact-us-textarea textarea {
  width: 100%;
  height: 15.3rem;
}
.contact-us-form input {
  height: 4.5rem;
  border: 1px solid #cde2fc;
  border-radius: 0.5rem;
}
.contact-us-form textarea {
  border: 1px solid #cde2fc;
  border-radius: 0.5rem;
  resize: none;
}
.contact-us-form input,
.contact-us-form textarea {
  padding: 1.5rem;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.contact-us-form ::placeholder {
  color: #999999;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.send-message {
  background: #5139f5;
  width: fit-content;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
.send-message a {
  display: flex;
  padding: 1.5rem 3rem;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}
.contact-us-information p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #555555;
}
.contact-us-information .contact-us-aboutus {
  margin-bottom: 4rem;
  width: 90%;
}
.contact-us-information .contact-us-email,
.contact-us-information .contact-us-contactno {
  margin-bottom: 0.8rem;
}

.contact-us-socialmedia .contact-us-socialmedia-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  color: #222222;
}
.contact-us-socialmedia-icons i {
  margin-right: 2rem;
  font-size: 1.4rem;
  background: white;
  color: #777777;
  height: 2.4rem;
  width: 2.4rem;
  border: 0.12rem solid #777777;
  border-radius: 0.4rem;
  position: relative;
}
.fa-brands::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-us-socialmedia-icons i:hover {
  background-color: #5139f5;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}
